<a href="https://colab.research.google.com/github/annecaroline00/projetos/blob/main/Sem_04_T2_Q5_Inveter_n%C3%BAmero_entre_1000_e_9999_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Leia um número inteiro entre 1000 e 9999 e mostre o número na ordem inversa. Por exemplo, se o número lido for 5678 deverá ser mostrado 8765.

def invertido(number):
  #5785 (a4=5, a3=7,a2=8,a1=5)

  a1 = number%10 # % = fica o resto da divisao por dez
  a2 = (number//10)%10 # % = calcula o resto da divisao por 10
  a3 = (number//100)%10 # % = calcula o resto da divisao dele por 100
  a4 = number//1000 # fica so a4
 
  return (a1*1000)+(a2*100)+(a3*10)+a4

if __name__ == "__main__":
  number = int(input())
  print (invertido(number))

2222
2222

In [ ]:
5